/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart2P';
  --accent-heart: #FF0000;
  --main-font-weight-light: 400;
  --accent-font-weight-light: 700;
  --accent-color-light:#000;
  --main-color-light:#FFF;
  --background-image-light: repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #e7e7e7 0, #1a1a1a 100%);;
  --button-text-color-light: #FFF;

  --main-font-weight-dark: 465;
  --accent-font-weight-dark: 785;
  --accent-color-dark:#00CC14;
  --main-color-dark:#000;
  --background-image-dark: repeating-linear-gradient(180deg, #000 0, #000 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #007f0c 0, #004306 100%);
  --button-text-color-dark:#00CC14;
}

